extends layout

block content
  .container
    .jumbotron.text-center
      h1
        span.fa.fa-lock Node Authentication
      p Login or register with:
      a(href="/login").btn.btn-default
        i.fa.fa-user
        | &nbsp Local Login
      a(href="/signup").btn.btn-default
        i.fa.fa-user
        | &nbsp Local Signup
