extends layout

block title
  title Login

block content
  .container
    .col-sm-6.col-sm-offset-3
      h1
        i.fa.fa-sign-in
        | &nbsp Login

      if message.length > 0
        .alert.alert-danger #{message} 

      form(action="/login" method="post")
        .form-group
          label Name
          input(type="text" name="name").form-control
        .form-group
          label Password
          input(type="password" name="password").form-control
        button(type="submit").btn.btn-warning.btn-lg Login
      hr
      p 
        | Need an acount? 
        a(href="/signup") Signup
      p
        | Or go &nbsp
        a(href="/") Home
