extends layout

block title
  title #{user.local.name}'s Notes | NodePad

block content
  .container
    .page-header.text-center
      h1
        i.fa.fa-pencil.fa-2x 
        | &nbsp #{user.local.name}'s Notes
      a(href="/logout").btn.btn-default.btn-lg Logout
      hr
      h2 Create New Note
      #addNote
        textarea(cols=40 rows=5 id="note-text")
        button(type="button" id="create-note").btn.btn-success.btn-lg Create Note 
      hr
      h2 Your notes
      .table-responsive.text-left
        table(id="noteTable").table.table-bordered.table-striped.table-hover
          thead
            th Note
            th Options
            th 
          tbody

block scripts
  script(src="notes.js")
  
