extends layout

block title
  title #{user.local.name}
's Notes | NodePad

        block content.container.page -
        header.text - center h1 i.fa.fa - pencil.fa - 2x |
    &nbsp #{
  user.local.name
}'s Notes
      a(href="/logout").btn.btn-default.btn-lg Logout
      hr
      #addNote.form-group.text-left
        label(for="note-title") Title:
        input(type="text" id="note-title").form-control
        label(for="note-text") Note:
        textarea(id="note-text").form-control
        br
        button(type="button" id="create-note").btn.btn-success.btn-lg Create Note 
      hr
      h2 Your notes
      .table-responsive.text-left
        table(id="noteTable").table.table-bordered.table-striped.table-hover
          thead
            th ID
            th Title
            th Note
            th Options
            th
          tbody

block scripts
  script(src="notes.js")
  
